* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    --primary-colour: #32214E;
    --secondary-colour: #1E1B41;
    --accent-colour: #9A77CF;
}

body {
    color: #F1F3F4;
    background-color: var(--primary-colour);
}

