.share {
    width: 100%;
    height: 195px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 16px 0 rgba(0 0 0 / 68%);
    box-shadow: 0 0 16px 0 rgba(0 0 0 / 68%);
}

.shareWrapper {
    padding: 10px;
}

.shareTop {
    display: flex;
    align-items: center;
}

.shareProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: -10px;
    margin-bottom: 10px;
}

.shareInput {
    display: block;
    border: none;
    width: 80%;
    color: #F1F3F4;
    background-color: var(--primary-colour);
    margin-left: 20px;
}

.shareInput:focus {
    outline: none;
}

.shareHr {
    margin: 20px;
}

.shareButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shareOptions {
    display: flex;
    align-items: center;
}

.shareOption { 
    display: flex;
    align-items: center;
    margin-right: 50px;
    margin-left: 20px;
    cursor: pointer; 
}

.shareIcon {
    font-size: 18px;
    margin-right: 3px;
}

.shareOptionText {
    font-size: 14px;
    font-weight: 500;
}

.shareButton {
    border: none;
    padding: 7px;
    border: 5px;
    background-color: #2FBE5C;
    font-weight: 500;
    float: right;
    border-radius: 5px;
    cursor: pointer;
}